.about {
    background-color: #f6f8fe;
    height: 80vh;
    width: 98vw;
}

.Aboutdetails {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

.AboutHeading {
    position: relative;
    top: 150px;
}

.AboutInfo {
    position: relative;
    top: 180px;
}

.Abouticons a {
    margin: 10px;
    position: relative;
    top: 200px;
}

.SkillsHead {
    text-align: left;
    margin-left: 50px;
    position: relative;
    top: 320px;
}

.SkillSet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 350px;
}

 .SkillSet > div {
    display: flex;
}

.skillInfo {
    margin-left: 10px;
}

.skillInfo p {
    text-align: left;
    font-weight: bold;
}

.Skill {
    margin-top: 50px;
}

.htmlContainer {
    height: 10px;
    width: 400px;
    border: solid 1px grey;
}

.htmlBar {
    height: 10px;
    width: 300px;
    background-color: blue;
    position: relative;
    top: 11px;
}

.sqlImage {
    width: 80px;
    height: 80px;
}