.homepage {
    display: flex;
    justify-content: space-between;
}

.HomeInfo {
    text-align: left;
    margin-left: 250px;
    margin-top: 200px;
}

.icons a {
    margin: 0px 15px 0px 15px;
}

.ProfilePic {
    position: relative;
    top: -60px;

}

.ProfilePic img {
    width: 500px;
    height: 85vh;
    
}

.HomeInfo h4 {
    font-size: 18px;
    color: #2351dc;
}

.HomeInfo h3 {
    font-size: 24px;
    color:#2351dc;
}

.HomeInfo h2 {
    font-size: 48px;
}

@media only screen and (max-width:768px) {
    
    .HomeInfo {
        text-align: left;
        margin-left: 50px;    
    }
    
    
    .ProfilePic {
        position: relative;
        top: -60px;
        right: 200px;
    }
    
    .ProfilePic img {
        width: 200px;
        height: 65vh;
        
    }
    
    .HomeInfo h4 {
        font-size: 10px;
        color: #2351dc;
    }
    
    .HomeInfo h3 {
        font-size: 15px;
        color:#2351dc;
    }
    
    .HomeInfo h2 {
        font-size: 20px;
    }
}