.NavBar {
    display: flex;
}

.Fname {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Manrope';
    font-style: normal;
    color: black;
    position: relative;
    top: 20px;
    left: 120px;
    text-decoration: none;
}

.NavLinks {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.NavLinks li {
    margin: 10px;
    font-size: 13px;
    position: relative;
    left: 130px;
    top: 5px;
}

@media only screen and (max-width:768px) {
    
    .Fname {
        font-size: 15px;
        top: 30px;
        left: 20px;
    }
    
    .NavLinks li {
        margin: 5px;
        font-size: 6px;
        position: relative;
        left: 1px;
        top: 15px;
    }    
}